
#navigation{
  position: absolute;
  top: 3%;
  left: 12%;
  word-spacing: 60px;
}
.bar{
  position: relative;
  display: inline-block;
}
li:hover{
  color: green;
  background-color: rgba(255, 255, 0, .3);
}
.header{
  position: absolute;
  top: 25%;
  left: 40%;
}

.eights{
  width: 5%;
  height: 7%;
}

.bg{
  position: absolute;
  top: 10;
  left: 10;
  width: 100px;
  height: 150px;
}
body{
  background-color: rgba(0, 90, 255, 0.8);
  font-family: 'Raleway', sans-serif;
  color: black;
  /*background: url('https://openclipart.org/image/300px/svg_to_png/2214/drunken-duck-Beer-2.png&disposition=attachment');*/
  /*background-repeat: no-repeat;*/
  /*width: 10px;*/
}

#intro{
  position: absolute;
  top: 40%;
  left: 7%;
}

#intro-title{
  position: absolute;
  top: 70%;
  left: 100%;
  width: 400%;
}
#intro-description{
  margin-top: 10px;
  position: absolute;
  width: 270%;
  top: 170%;
}

#pricing{
  position: absolute;
  top: 80%;
  left: 15%;
  text-align: center;
}




.price-list {
line-height: 25px;
text-align: center;
}
.prices{
  font-size: 30px;
  line-height: 45px;
  /*text-align: left;*/
}
#product-list-two{
  position: absolute;
  top: 200%;
  left: 3%;
}
#product-description-two{
  width: 70%;
}
#product-two{
  position: absolute;
  bottom: -25%;
  left: 80%;
}

#tequila-two{
  position: relative;
  top: -100%;
  left: 13%;
}
#wine-two{
  position: relative;
  top: -100%;
  left: 28%;
}

#product-list{
  position: absolute;
  top: 150%;
  left: 3%;
}
#product-description{
  width: 70%;
}
#product-one{
  position: absolute;
  bottom: 5%;
  left: 80%;
}
#beer-one{
  position: relative;
  /*left: %;*/
  top: -100%;
}
#tequila-one{
  position: relative;
  top: -100%;
  left: 13%;
}
#wine-one{
  position: relative;
  top: -100%;
  left: 28%;
}

#hour{
  position: absolute;
  top: 80%;
  left: 4%;
}
#hour-one{
  position: absolute;
  top: 80%;
  left: 19%;
}
#hour-two{
  position: absolute;
  top: 80%;
  left: 36%;
}


.beer{
  width: 80px;
  position: absolute;
  top: 80%;
  left: 37%;
  /*background: url('https://openclipart.org/image/300px/svg_to_png/2214/drunken-duck-Beer-2.png&disposition=attachment');*/
}
/* .tequila{
  width: 20px;
}
.wine{
  width: 20px;
}*/

.beverages{
  position: absolute;
  top: 50%;
  left: 50%;
}



/* new-entry */
#new-entry{
  position: absolute;
  top: 230%;
  left: 45%;
  color: black;
}
#product-results{
  position: absolute;
  top: 160%;
  left: 10%;
  width: 70%;
  /*word-spacing: 50px;*/
  line-height: 30px;
  /*display: inline-block;*/
}
.header{
  position: absolute;
  top: 15%;
  left: 30%;
}
#purple-hape{
  position: absolute;
  top: 180%;
  left: 290%;
  width: 120px;
  height: 100px;
}
/*
#product-one{
  width: 20%;
  height: 30%;
}*/
